/* universal styles */
html {
 	font-size: 16px;
 	text-align: center;
	background-color: #f3f3f3;
	font-family: "Oxygen";
	margin: 0;
	padding: 0;
}

body {
	background-color: whitesmoke;
}

h1 {
	font-family: "Paytone One";
	font-size: 4rem;
}

h2 {
	font-family: "Lora";
	font-size: 2rem;
}


/* header */

header {
	width: 100%;
	font-weight: 600;
	background-color: whitesmoke;
	border-bottom: 1px solid rgba(31, 52, 11, 1);

}

header ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	font-size: 18px;
}

header li {
	padding-right: 1.5rem;
}

header a {
	text-decoration: none;
	color: rgba(31, 52, 11, 1);
}

header a:hover {
	color: rgba(169, 195, 108, 1);
	text-decoration: underline;
}

header a:active {
	color: rgba(31, 52, 11, 0.5);
} 

header a:visited {
	color: rgba(246, 124, 49, 1);
} 

header button {
	background-color: rgba(169, 195, 108, 1);
	border: none;
	color: rgba(31, 52, 11, 1);
 	font-size: 16px;
	font-family: "Oxygen";
	padding: 0.5rem;
}

header button:hover {
	background-color: rgba(169, 195, 108, 0.5);	
}

header button:active {
	background-color: rgba(246, 124, 49, 0.2);;
}

header button img {
	height: 2rem;
	width: auto;

}

header .mobile {
  display: none;
}

header li:nth-child(2), header li:nth-child(3) {
	display: none;
}

@media only screen and (max-width: 645px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header button {
		background-color: #f3f3f3;  
  }

}

/*contact links section */


#contact-links {
	margin: 4rem;
	color: rgba(31, 52, 11, 1);
	
}

#contact-links h1 {
	color: rgba(141, 113, 91, 1);
}

.contact-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
}

.contact-icons .fa-solid {
	padding: 1.5rem;
}

/* Snail Mail section */

#snail-mail {
	background-color: rgba(31, 52, 11, 1);
	color: rgba(169, 195, 108, 1);
	width: 80%;
	margin: auto;
	margin-top: 4rem;
	margin-bottom: 4rem;
	padding: 1.5rem;
	padding-top: 0.1rem;
}

#snail-mail h3 {
	text-decoration: underline;
}

#snail-mail img {
	max-height: 7rem;
	max-width: auto;
	padding: 1rem;
	padding-top: 0;
}

#radio-buttons {
	display: flex;
	padding: 0.5rem;
	flex-flow: row wrap;
	justify-content: space-around;
}

#radio-buttons .snail {
	max-width: 25%;
	min-width: 15rem;
}

#message-field {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


label {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#message-field textarea {
	max-width: 90%;
}
input[type=radio] {
	margin-top: 2rem;
}

#submit-button {
	margin-top: 0.5rem;
	padding: 0.3rem;
	background-color: rgba(169, 195, 108, 1);
	border: none;
	color: rgba(31, 52, 11, 1);
 	font-size: 16px;
	font-family: "Oxygen";
	height: 2rem;
}
/*footer*/

 footer {
 	text-align: left;
 	color: rgba(31, 52, 11, 1);
 	margin-top: 1rem;
 	padding: 0.3rem;
 }