/* universal styles */
html {
 	font-size: 16px;
 	text-align: center;
	background-color: #f3f3f3;
	font-family: "Oxygen";
	margin: 0;
	padding: 0;
}

body {
	background-color: whitesmoke;
}

h1 {
	font-family: "Paytone One";
	font-size: 4rem;
}

h2 {
	font-family: "Lora";
	font-size: 2rem;
}


/* header */

header {
	width: 100%;
	font-weight: 600;
	background-color: whitesmoke;
	border-bottom: 1px solid rgba(31, 52, 11, 1);

}

header ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	padding: 0.5rem;	
}

header li {
	padding-right: 1.5rem;
}

header a {
	text-decoration: none;
	color: rgba(31, 52, 11, 1);
}

header a:hover {
	color: rgba(169, 195, 108, 1);
	text-decoration: underline;
}

header a:active {
	color: rgba(31, 52, 11, 0.5);
} 

header a:visited {
	color: rgba(246, 124, 49, 1);
} 

header .mobile {
  display: none;
}


@media only screen and (max-width: 645px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

}

  /* main */



  /* intro section */

.intro-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 1.5rem;
	color: rgba(31, 52, 11, 1);	
}

#intro-text h1 {
	color: rgba(141, 113, 91, 1);
}

#intro-text h2 {
	font-size: 1.5rem;
}



#intro-image {
	max-width: 30rem;
	background-color: #2C3815;
	max-height: auto;
	border-radius: 50%;
}

  /* about me section */

#about-blurb {
	background-color: rgba(31, 52, 11, 1);
	color: rgba(169, 195, 108, 1);
	width: 70%;
	margin: auto;
	margin-bottom: 1rem;
	padding: 0.1rem 0.8rem;
}

.boxes {
	display: flex;
	justify-content: space-between;
	margin: 0 1.5rem;
	padding: 0.5rem;
	background-color: rgba(141, 113, 91, 0.5);
}

.detail-box {
	width: 30%;
	background-color: ghostwhite;
}

  /* footer */